body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */

  line-height: 1.5rem;
}

.main-nav-l {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main-nav-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: 10px 20px; 
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  display: inline;
  margin: 0 10px;
  /* color: #66666E; */
  font-size: .8rem
}

ul li a {
  color: #66666E;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(116, 116, 122);
  text-decoration: underline;
}

.footer-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  line-height: 1.5rem;

  background-color: #F2F2F2;
  border-top: 1px solid rgb(224, 224, 224);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav-l {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
}

.footer-nav-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

input[type="text"] {
  display: block;
  margin-bottom: 20px;
}

input[type="submit"] {
  background: #F4F4F4;
  color: #757575;
  border-radius: 2px;
  border: 1px solid white;
  height: 36px;
  padding: 0 16px;
  margin: 0 3px;

  font-weight: bold;
  font-size: 13px;
  text-align: center;
  line-height: 27px;

  box-sizing: border-box;
}

  input[type="submit"]:hover {
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
  }

.l-submit-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="text"] {
  width: 500px;
  height: 40px; 
  border-radius: 2px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0 1px 1px #ccc;
}

  input[type="text"]:hover {
    box-shadow: 0px 3px 20px rgb(218, 218, 218);
  }

.type-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-logo {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 50px;
}
